.footer {
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    padding: 1rem 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
  }
  
  .footerContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
  .socialLinks {
    margin-top: 0.5rem;
  }
  
  .socialLinks a {
    color: var(--footer-text-color);
    font-size: 1.5rem;
    transition: color 0.3s ease;
  }
  
  .socialLinks a:hover {
    color: var(--footer-link-hover-color);
  }
  
  .icon {
    width: 1.5rem;
    height: 1.5rem;
  }